@charset "UTF-8";
/*FONTS--------------------------------------------------------------------*/
/*Caviar Dreams*/
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.ttf"), url("../../../../fonts/CaviarDreams_Bold.ttf");
}
/*Satisfy*/
@font-face {
  font-family: "Satisfy";
  src: url("../fonts/Satisfy-Regular.ttf");
}
/*VARIABLES--------------------------------------------------------------*/
/*couleurs*/
/*width*/
/*MIXINS----------------------------------------------------------------------*/
/*outline*/
/*borders*/
/*shadows*/
/*chief__photos*/
/*BOUTONS------------------------------------------*/
/*global*/
.button {
  background-color: #2c2d6f;
  color: #e8e0c6;
  border: 2px solid #e8e0c6;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  /*bouton pour soumettre les formulaires*/
}
.button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
.button .form__button {
  width: auto;
}

/*LIENS------------------------------------------------*/
a {
  text-decoration: none;
  color: #1d1d1b;
}

/*liens qui ont le même style que les boutons*/
.button__link {
  display: inline-block;
}

/*bouton "réserver une prestation" placé tout à la fin de la nav burger*/
.booking__burger__nav__button {
  width: auto;
  margin: 1rem 0 0 0.5rem;
}

/*ALL (html, body)------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Caviar Dreams", sans-serif;
}

html {
  scroll-behavior: smooth;
}
html body {
  grid-template-rows: 120px auto 1fr auto;
  color: #1d1d1b;
  background-color: #FFF;
  display: grid;
  min-height: 100vh;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html body .to__top {
  background: #2c2d6f;
  color: #e8e0c6;
  border: 2px solid #e8e0c6;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
html body .to__top.active {
  bottom: 150px;
  pointer-events: auto;
  opacity: 1;
}

/*SCROLL BAR------------------------------------------------------------------*/
html::-webkit-scrollbar-track {
  width: 20px;
}

html::-webkit-scrollbar {
  width: 20px;
  background-color: #fff;
}

html::-webkit-scrollbar-thumb {
  background-color: #1d1d1b;
  border: 4px solid #fff;
  border-radius: 10px;
}

html::-webkit-scrollbar-button {
  display: block;
  width: 20px;
  height: 20px;
  color: black;
}

::-webkit-scrollbar-button:vertical:start:increment {
  display: none;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url("../medias/scrollSVG/sort-up-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-top: 10px solid transparent;
}

::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url("../medias/scrollSVG/sort-down-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-bottom: 10px solid transparent;
}

/*TITRES----------------------------------------------------------------*/
h1, h2 {
  border-bottom: 2px solid #e8e0c6;
  text-align: center;
}

h1 {
  margin-top: 5rem;
}

.home__title {
  margin-top: 0;
}

.section__title {
  width: 100%;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.satisfy__title {
  font-weight: 500;
}

/*HEADER----------------------------------------------------------------------*/
header {
  grid-row: 1;
  background-position: center;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid #e8e0c6;
}
header .header__global__wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
header .header__global__wrapper .mobile__header__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
header .header__global__wrapper .mobile__header__wrapper .burger__and__logo__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header__global__wrapper .mobile__header__wrapper .burger__and__logo__wrapper .burger__icon__wrapper {
  width: 2.5rem;
  aspect-ratio: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header__global__wrapper .mobile__header__wrapper .burger__and__logo__wrapper .burger__icon__wrapper .bar {
  width: 2.5rem;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  transition: 0.5s;
}
header .header__global__wrapper .mobile__header__wrapper .burger__and__logo__wrapper .burger__icon__wrapper .bar.first.active {
  transform: translateY(1.5px) rotate(45deg);
}
header .header__global__wrapper .mobile__header__wrapper .burger__and__logo__wrapper .burger__icon__wrapper .bar.second {
  margin: 10px 0;
}
header .header__global__wrapper .mobile__header__wrapper .burger__and__logo__wrapper .burger__icon__wrapper .bar.second.active {
  display: none;
}
header .header__global__wrapper .mobile__header__wrapper .burger__and__logo__wrapper .burger__icon__wrapper .bar.third.active {
  transform: translateY(-1.5px) rotate(-45deg);
}

/*logo de l'entreprise--------------------------------------------------------*/
.logoDiv {
  width: 6rem;
  aspect-ratio: 1;
  position: relative;
}
.logoDiv .logo {
  width: 100%;
  border-radius: 50%;
  /*fait une rotation à 360 degré du logo au clic*/
}
.logoDiv .logo:hover {
  cursor: pointer;
}
.logoDiv .logo.logoRotate {
  transform: rotate(-360deg);
  transition: 2s;
}

/*cache les icones du menu burger (hambuerger et croix)*/
.hideBurgerIcon {
  display: none;
}

.burgerNav {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 1s, opacity 1s;
  border-bottom: 1px solid #e8e0c6;
}
.burgerNav .burgerNav__list {
  list-style: none;
}
.burgerNav .burgerNav__list .burgerNav__list__item {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}
.burgerNav .burgerNav__list .burgerNav__list__item:first-child {
  margin-top: 1rem;
}
.burgerNav .burgerNav__list .burgerNav__list__item div {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
}
.burgerNav .burgerNav__list .burgerNav__list__item div .burgerNav__list__item__icon {
  font-size: 1rem;
}
.burgerNav .burgerNav__list .burgerNav__list__item__link {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 2rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
}
.burgerNav .burgerNav__list .button {
  width: auto;
}

/*affiche la barre de navigation du menu burger*/
.displayNav {
  overflow-y: hidden;
  height: 18rem;
  opacity: 1;
}

/*cache la nav qui est inclue dans le header pour desktop*/
.headerNav {
  display: none;
}

/*HEADER BACKGROUND-----------------------------------------------------------*/
.background__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-bottom: 1px solid #e8e0c6;
}
.background__wrapper .background__image {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.background__wrapper .background__text {
  position: absolute;
}
.background__wrapper .background__text p {
  z-index: 2;
  margin: 1rem 0;
  color: #fff;
}
.background__wrapper .background__text .first__header__text {
  font-family: "Satisfy", cursive;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
}
.background__wrapper .background__text .second__header__text {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/*MAIN------------------------------------------------------------------------*/
main {
  grid-row: 3/4;
  gap: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

/*ACCUEIL---------------------------------------------------------------------*/
/*CAROUSEL----------------*/
.carousel__global__wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel__global__wrapper .galery__title {
  width: 90%;
  margin-bottom: 2rem;
}
.carousel__global__wrapper .bottom__border__carousel {
  width: 90%;
  height: 2px;
  background: #e8e0c6;
  margin-top: 2rem;
}
.carousel__global__wrapper .elements__wrapper {
  display: flex;
}
.carousel__global__wrapper .elements__wrapper .element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 100%;
}
.carousel__global__wrapper .elements__wrapper .element img {
  width: 90%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  transition: 1s;
}
.carousel__global__wrapper i {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: #e8e0c6;
  border: 2px solid #e8e0c6;
  background: #2c2d6f;
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;
  position: absolute;
  top: calc(50% + 5rem);
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}
.carousel__global__wrapper i.previous {
  left: 0.2rem;
}
.carousel__global__wrapper i.next {
  right: 0.2rem;
}

@media screen and (min-width: 900px) {
  .carousel__global__wrapper .elements__wrapper .element {
    flex: 1 0 33.3333333333%;
  }
}
@media screen and (min-width: 400px) and (max-width: 900px) {
  .carousel__global__wrapper .elements__wrapper .element {
    flex: 1 0 50%;
  }
}
@media screen and (orientation: landscape) {
  .carousel__global__wrapper .elements__wrapper .element {
    flex: 1 0 33.3333333333%;
  }
}
/*Introduction*/
.introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
.introduction .home__title__wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e8e0c6;
}
.introduction .home__title__wrapper .home__title {
  font-family: "Satisfy";
  border: none;
  font-size: 2rem;
}
.introduction .home__title__wrapper .home__title .normal__text {
  font-family: "Caviar Dreams";
  margin-right: 0.5rem;
}
.introduction .home__title__wrapper p {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1rem;
  font-weight: bold;
}
.introduction .home__introduction__text__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}
.introduction p {
  width: 90%;
}

/*zones de texte avec photo*/
.home__photo__and__text__glogal__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-top: 3.5rem;
}
.home__photo__and__text__glogal__wrapper .home__photo__and__text__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
.home__photo__and__text__glogal__wrapper .home__photo__and__text__wrapper .home__photo__wrapper img {
  width: 100%;
}
.home__photo__and__text__glogal__wrapper .home__photo__and__text__wrapper .home__text__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}
.home__photo__and__text__glogal__wrapper .home__photo__and__text__wrapper .home__button__link__wrapper {
  width: 100%;
}
.home__photo__and__text__glogal__wrapper .home__photo__and__text__wrapper .home__button__link__wrapper a {
  width: 80%;
}

/*section des avantages d'avoir un chef à la maison---------------------------*/
.home__advantages__global__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 1rem;
}
.home__advantages__global__wrapper .home__advantages__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.home__advantages__global__wrapper .home__advantages__wrapper .home__advantage__wrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.home__advantages__global__wrapper .home__advantages__wrapper .home__advantage__wrapper i {
  background-color: #2c2d6f;
  color: #e8e0c6;
  padding: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 50%;
}

/*partenaires du chef---------------------------------------------------------*/
.home__partners__global__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 1rem;
}
.home__partners__global__wrapper .home__partners__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.home__partners__global__wrapper .home__partners__wrapper a {
  border-right: 1px solid black;
  padding-right: 1rem;
}
.home__partners__global__wrapper .home__partners__wrapper a:last-child {
  border: none;
}

/*A PROPOS DU CHEF -----------------------------------------------------------*/
/*section à propos du chef, parcours, biographie------------------------------*/
.about__introduction {
  width: 90%;
  padding-bottom: 2rem;
  border-bottom: 2px solid #e8e0c6;
}

.about__global__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.about__global__wrapper .chief__photo img {
  width: 100%;
}
.about__global__wrapper .about__text__wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem 0;
}
.about__global__wrapper .about__text__wrapper h2 {
  margin-bottom: 1rem;
}

/* section presse (article, vidéo)--------------------------------------------------*/
.press__global__wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.press__global__wrapper .press__article__global__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  text-align: center;
}
.press__global__wrapper .press__article__global__wrapper .press__article__wrapper {
  width: 100%;
}
.press__global__wrapper .press__article__global__wrapper .press__article__wrapper .press__article {
  width: 100%;
}
.press__global__wrapper .press__article__global__wrapper .press__article__wrapper .press__article__last__page__wrapper {
  width: 100%;
  position: relative;
}
.press__global__wrapper .press__article__global__wrapper .press__article__wrapper .press__article__last__page__wrapper .press__article {
  width: 100%;
}
.press__global__wrapper .press__article__global__wrapper .press__article__wrapper .press__article__last__page__wrapper a {
  position: absolute;
  bottom: -2rem;
  right: 0;
}
.press__global__wrapper .press__article__global__wrapper .press__article__wrapper .press__article__last__page__wrapper a i {
  background-color: #2c2d6f;
  color: #e8e0c6;
  padding: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 50%;
}
.press__global__wrapper .video {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  text-align: center;
}
.press__global__wrapper .video .double__video__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.press__global__wrapper .video .double__video__wrapper article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.press__global__wrapper .video .double__video__wrapper article video {
  width: 100%;
  border-radius: 10px;
}
.press__global__wrapper .video .double__video__wrapper article .video__description__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.press__global__wrapper .video .double__video__wrapper article .video__description__wrapper h3 {
  text-align: left;
}
.press__global__wrapper .video .double__video__wrapper article .video__description__wrapper img {
  width: 3.5rem;
  height: auto;
  border-radius: 50%;
}

/*MENUS-----------------------------------------------------------------------*/
.menu__introduction__text_wrapper {
  width: 90%;
  text-align: center;
  border-bottom: 2px solid #e8e0c6;
}
.menu__introduction__text_wrapper p {
  padding-bottom: 2rem;
}

.menu__section__global__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.menu__section__global__wrapper .menu__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.menu__section__global__wrapper .menu__wrapper .menu__title {
  font-size: 2rem;
  margin-bottom: 2rem;
  width: auto;
}
.menu__section__global__wrapper .menu__wrapper .large__menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .tiny__menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 80%;
  position: relative;
}
.menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .tiny__menu__wrapper .button {
  display: none;
}
.menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .tiny__menu__wrapper .menu__photo {
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .tiny__menu__wrapper .tiny__menu__description__wrapper {
  width: 120%;
}
.menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .tiny__menu__wrapper .tiny__menu__description__wrapper p {
  margin: 0.5rem 0;
}
.menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .tiny__menu__wrapper .watch__menu__icon__link {
  position: absolute;
  top: -1rem;
  right: -1rem;
}
.menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .tiny__menu__wrapper .watch__menu__icon__link:hover {
  filter: brightness(1.2);
}
.menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .tiny__menu__wrapper .watch__menu__icon__link i {
  background-color: #2c2d6f;
  color: #e8e0c6;
  border: 2px solid #e8e0c6;
  padding: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 50%;
}
.menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .large__menu__description__wrapper {
  display: none;
}

/*div qui contient la carte du chef (images des menu et des tarifs)-----------*/
.menu_and_price__global__wrapper {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.menu_and_price__global__wrapper .menu__image__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.menu_and_price__global__wrapper .menu__image__wrapper .section__title {
  width: auto;
}
.menu_and_price__global__wrapper .menu__image__wrapper .menu__image {
  width: 100%;
  cursor: pointer;
}
.menu_and_price__global__wrapper .menu__image__wrapper a {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu_and_price__global__wrapper .menu__image__wrapper a i {
  background-color: #2c2d6f;
  color: #e8e0c6;
  padding: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 50%;
}
.menu_and_price__global__wrapper .menu__image__wrapper a p {
  text-decoration: underline;
}
.menu_and_price__global__wrapper .menu__image__wrapper .back {
  display: none;
}

/*REVIEWS-----------------------------------------------------------*/
.rewiews__global__wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.rewiews__global__wrapper .review {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.rewiews__global__wrapper .review p i {
  color: rgba(0, 0, 0, 0.6);
}
.rewiews__global__wrapper .review .stars .fa-star {
  color: gold;
  font-size: 1.5rem;
}

/*FORMULAIRES-----------------------------------------------------------------*/
.form__text {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 2px solid #e8e0c6;
  padding-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 90%;
  position: relative;
}
form fieldset {
  width: 95%;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
form .button {
  margin-top: 2rem;
}
form .info__bulle__header__form {
  background: #e8e0c6;
  font-weight: bold;
  border-radius: 15px;
  padding: 1rem;
  position: relative;
}
form .info__bulle__header__form:after {
  content: "▸";
  color: #e8e0c6;
  font-size: 3rem;
  position: absolute;
  left: 20px;
  bottom: -30px;
}
form .info__bulle__header__form.display__info__bulle {
  position: absolute;
  top: -45px;
  z-index: 2;
}
form .info__bulle__header__form.hide__info__bulle {
  display: none;
}
form a {
  text-decoration: underline;
}
form .form__double__input__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
form .form__double__input__wrapper .form__input__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
form .form__double__input__wrapper .form__input__wrapper .info__bulle__form {
  background: #e8e0c6;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 15px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
  height: 0;
  opacity: 0;
  font-size: 0.8rem;
}
form .form__double__input__wrapper .form__input__wrapper .info__bulle__form:after {
  content: "▸";
  color: #e8e0c6;
  font-size: 2rem;
  position: absolute;
  left: 20px;
  top: -23px;
  transform: rotate(-90deg);
}
form .form__double__input__wrapper .form__input__wrapper .info__bulle__form.invalid {
  height: auto;
  opacity: 1;
  transition: opacity 1s;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: 60px;
  z-index: 2;
}
form .form__double__input__wrapper .form__input__wrapper .info__bulle__form.invalid__booking__field {
  height: auto;
  opacity: 1;
  transition: opacity 1s;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  bottom: -20px;
  z-index: 2;
}
form .form__double__input__wrapper .form__input__wrapper .form__label {
  width: 100%;
}
form .form__double__input__wrapper .form__input__wrapper .form__input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #1d1d1b;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1rem;
  background: #fff;
}
form .form__double__input__wrapper .form__input__wrapper .form__input:focus {
  outline: 2px solid #2c2f66;
}
form .form__double__input__wrapper .form__input__wrapper .password__input {
  padding-right: 4rem;
}
form .form__double__input__wrapper .form__input__wrapper textarea {
  height: 15rem;
}
form .form__double__input__wrapper .password__input__wrapper {
  position: relative;
}
form .form__double__input__wrapper .password__input__wrapper .eye__icon {
  font-size: 1rem;
  position: absolute;
  top: calc(50% - 0.5rem);
  right: 1.5rem;
  cursor: pointer;
}
form .form__confidentiality__text {
  width: 100%;
  text-align: justify;
  position: relative;
}
form .form__confidentiality__text .info__bulle__form {
  background: #e8e0c6;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 15px;
  min-width: auto;
  position: relative;
  height: 0;
  opacity: 0;
}
form .form__confidentiality__text .info__bulle__form:after {
  content: "▸";
  color: #e8e0c6;
  font-size: 2rem;
  position: absolute;
  left: 20px;
  top: -23px;
  transform: rotate(-90deg);
}
form .form__confidentiality__text .info__bulle__form.invalid__checkbox {
  height: auto;
  opacity: 1;
  transition: opacity 1s;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  bottom: -30px;
  z-index: 2;
  font-size: 0.8rem;
}
form .form__confidentiality__text .form__checkbox {
  margin-right: 1rem;
}
form .form__confidentiality__text a {
  text-decoration: underline;
}
form .invalid__recaptcha {
  background: #e8e0c6;
  padding: 1rem;
  border-radius: 15px;
  font-weight: bold;
  position: relative;
  font-size: 0.8rem;
}
form .invalid__recaptcha:after {
  content: "▸";
  color: #e8e0c6;
  font-size: 2rem;
  position: absolute;
  left: 20px;
  top: -23px;
  transform: rotate(-90deg);
}
form sup {
  font-size: 1.3rem;
}

/*formuaire connexion*/
.sign__in__sign__up__global__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign__in__sign__up__global__wrapper .sign__in__global__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-bottom: 2rem;
}

/*MESSAGE "CONFIRMATION DE RESERVATION"-----------------*/
.message__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 90%;
  margin: 5rem 0;
}
.message__wrapper i {
  color: #648f64;
  font-size: 4rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e8e0c6;
  padding: 1rem;
  border-radius: 50%;
}
.message__wrapper p {
  text-align: center;
  margin: 1rem;
}

/*USER SPACE------------------------------------------------------------------*/
.user__space__global__wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  position: relative;
}
.user__space__global__wrapper .user__space__item {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.user__space__global__wrapper .user__space__item i {
  font-size: 4rem;
}
.user__space__global__wrapper .user__space__item .button {
  text-align: center;
  width: 100%;
}
.user__space__global__wrapper .logout__link {
  position: absolute;
  top: -10rem;
  right: 2rem;
  text-decoration: underline;
}

/*FOOTER----------------------------------------------------------------------*/
footer {
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e8e0c6;
}
footer .top__footer__global__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem 1rem;
}
footer .top__footer__global__wrapper .contact__footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
footer .top__footer__global__wrapper .contact__footer__wrapper a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
footer .top__footer__global__wrapper .contact__footer__wrapper .social__network__icons__wrapper {
  display: flex;
  gap: 5rem;
}
footer .top__footer__global__wrapper i {
  font-size: 2rem;
}
footer .bottom__footer__global__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: #000;
  color: #fff;
}
footer .bottom__footer__global__wrapper .bottom__fotter__links__wrapper {
  display: flex;
  gap: 1rem;
}
footer .bottom__footer__global__wrapper .bottom__fotter__links__wrapper a {
  padding-right: 1rem;
  color: #fff;
  border-right: 1px solid #fff;
}
footer .bottom__footer__global__wrapper .bottom__fotter__links__wrapper a:last-child {
  border: none;
}
footer .bottom__footer__global__wrapper .tiny__screen__copyright {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
footer .bottom__footer__global__wrapper .large__screen__copyright {
  display: none;
}

/*MENTIONS LEGALES ET POLITIQUE DE CONFIDENTIALITE----------------------------*/
.legal__notice__global__wrapper, .confidentiality__global__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.legal__notice__global__wrapper h1, .confidentiality__global__wrapper h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
.legal__notice__global__wrapper h2, .confidentiality__global__wrapper h2 {
  text-align: left;
  font-weight: 500;
}
.legal__notice__global__wrapper p, .confidentiality__global__wrapper p {
  margin-bottom: 1rem;
}
.legal__notice__global__wrapper ul, .confidentiality__global__wrapper ul {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

/*RESPONSIVE DESIGN, MEDIA QUERIES--------------------------------------------*/
/*tablet----------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  /*HEADER*/
  header .header__global__wrapper .mobile__header__wrapper .user__icons__wrapper .log__and__shopping__icons__wrapper {
    gap: 1.5rem;
  }
  /*NAVIGATION*/
  .burgerNav .burgerNav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
  .burgerNav .burgerNav__list .burgerNav__list__item {
    margin-top: 1rem;
  }
  .burgerNav .burgerNav__list .burgerNav__list__item:last-child {
    margin-top: 0;
  }
  .displayNav {
    overflow-y: hidden;
    height: 10rem;
    opacity: 1;
  }
  /*HEADER BACKGROUND*/
  .background__wrapper .first__header__text {
    font-size: 3rem;
  }
  .background__wrapper .second__header__text {
    font-size: 2.5rem;
  }
  /*HOME--------------------------------------------------------------------*/
  .home__photo__wrapper img {
    border-bottom: 2px solid #e8e0c6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }
  /*adavantages section*/
  .home__advantages__global__wrapper .home__advantages__wrapper .home__advantage__wrapper {
    width: 25%;
  }
  /*ABOUT___________________________________________________________________*/
  .chief__photo {
    width: 100%;
  }
  .chief__photo img {
    max-width: 100%;
    border-bottom: 2px solid #e8e0c6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }
  /*MENUS-----------------------------------------------------------------------*/
  .menu__section__global__wrapper .menu__wrapper {
    width: 90%;
    gap: 2rem;
  }
  .menu__section__global__wrapper .menu__wrapper .button {
    display: none;
  }
  .menu__section__global__wrapper .menu__wrapper .menu__title {
    display: none;
  }
  .menu__section__global__wrapper .menu__wrapper .large__menu__wrapper {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .tiny__menu__wrapper {
    grid-column: 1/3;
    position: relative;
  }
  .menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .tiny__menu__wrapper .button {
    display: block;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
  }
  .menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .tiny__menu__wrapper .tiny__menu__description__wrapper {
    display: none;
  }
  .menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .large__menu__description__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
    border-right: 2px solid #e8e0c6;
    border-bottom: 2px solid #e8e0c6;
    grid-column: 3/6;
    justify-self: center;
  }
  .menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .large__menu__description__wrapper .menu__title {
    margin-bottom: 1rem;
    display: block;
  }
  .menu__section__global__wrapper .menu__wrapper .large__menu__wrapper .large__menu__description__wrapper .button {
    display: block;
    width: auto;
  }
  /*div qui contient la carte du chef (images des menu et des tarifs)-----------*/
  .cocktail__menu__global__wrapper {
    max-width: 50%;
  }
  .menu_and_price__global__wrapper {
    width: 90%;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .menu_and_price__global__wrapper .menu__image__wrapper {
    width: 100%;
    /*lien vers page précédente quand menu en grand format*/
  }
  .menu_and_price__global__wrapper .menu__image__wrapper .section__title {
    width: auto;
  }
  .menu_and_price__global__wrapper .menu__image__wrapper .back {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: red;
    z-index: 2;
  }
  .menu_and_price__global__wrapper .menu__image__wrapper .back .fa-left-long {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    border: 2px solid #e8e0c6;
  }
  /*FORMULAIRES-------------------------------------------------------------*/
  form .form__double__input__wrapper {
    flex-direction: row;
    align-items: end;
  }
  /*formuaire connexion*/
  .sign__in__sign__up__global__wrapper {
    width: 25rem;
    flex-direction: row;
    align-items: start;
    gap: 2rem;
  }
  .sign__in__sign__up__global__wrapper .sign__in__global__wrapper {
    height: 100%;
  }
  .sign__in__sign__up__global__wrapper .sign__in__global__wrapper .sign__in__form {
    height: 100%;
    justify-content: end;
  }
  .sign__in__sign__up__global__wrapper .form__double__input__wrapper {
    flex-direction: column;
  }
  .review__form {
    width: 50%;
  }
  .review__form .form__double__input__wrapper {
    flex-direction: column;
  }
  .new__password__form {
    width: 25rem;
  }
  /*FOOTER------------------------------------------------------------------*/
  footer .top__footer__global__wrapper {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  footer .top__footer__global__wrapper .contact__footer__wrapper {
    width: 30%;
  }
  footer .bottom__footer__global__wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  footer .bottom__footer__global__wrapper .large__screen__copyright {
    display: flex;
    border-right: 1px solid #fff;
    padding-right: 1rem;
  }
  footer .bottom__footer__global__wrapper .tiny__screen__copyright {
    display: none;
  }
  /*MENTIONS LEGALES ET POLITIQUE DE CONFIDENTIALITE*/
  .legal__notice__global__wrapper, .confidentiality__global__wrapper {
    width: 70%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*HOME---------------------------------------------------------------------
  /*zones de texte avec photo*/
  .home__photo__and__text__glogal__wrapper .home__photo__and__text__wrapper {
    width: 70%;
  }
  .home__photo__and__text__glogal__wrapper .home__photo__and__text__wrapper .home__button__link__wrapper {
    width: 70%;
  }
  /*A PROPOS DU CHEF -----------------------------------------------------------*/
  /*section à propos du chef, parcours, biographie------------------------------*/
  .about__global__wrapper {
    width: 70%;
  }
  /* section presse (article, vidéo)--------------------------------------------------*/
  .press__global__wrapper {
    width: 90%;
  }
}
/*desktop---------------------------------------------------------------------*/
@media screen and (min-width: 1024px) {
  /*HEADER------------------------------------------------------------------*/
  header {
    position: fixed;
    z-index: 4;
    width: 100%;
    background-color: #fff;
    height: 125px;
  }
  header .header__global__wrapper {
    display: flex;
    justify-content: space-around;
    /*affiche la nav inclue dans le header------------------------------------*/
  }
  header .header__global__wrapper .mobile__header__wrapper {
    width: -moz-fit-content;
    width: fit-content;
    /*cache les icones du menu burger-----------------------------------------*/
  }
  header .header__global__wrapper .mobile__header__wrapper .burger__icon__wrapper .bar {
    display: none;
  }
  header .header__global__wrapper .headerNav {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 2rem;
  }
  header .header__global__wrapper .headerNav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.8rem;
  }
  header .header__global__wrapper .headerNav ul li a {
    text-transform: uppercase;
    padding-bottom: 0.3rem;
    color: #000;
    font-weight: bold;
    padding: 0.5rem;
  }
  header .header__global__wrapper .headerNav ul li:hover {
    transform: translateY(-3px);
    transition: all 0.5s;
  }
  header .header__global__wrapper .headerNav ul i {
    font-size: 0.2rem;
  }
  /*HOME-----------------------------------------------------------------*/
  /*zones de texte avec photo*/
  .home__photo__and__text__glogal__wrapper .home__photo__and__text__wrapper {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
  }
  .home__photo__and__text__glogal__wrapper .home__photo__and__text__wrapper .home__photo__wrapper {
    grid-column: 1/2;
    grid-row: 1;
  }
  .home__photo__and__text__glogal__wrapper .home__photo__and__text__wrapper .home__text__wrapper {
    grid-column: 2/4;
    grid-row: 1;
    justify-self: center;
  }
  .home__photo__and__text__glogal__wrapper #second__section {
    min-width: 100%;
  }
  .home__photo__and__text__glogal__wrapper #second__section .home__photo__wrapper {
    grid-column: 3/4;
    grid-row: 1;
  }
  .home__photo__and__text__glogal__wrapper #second__section .home__text__wrapper {
    grid-column: 1/3;
    grid-row: 1;
    justify-self: center;
  }
  /*CAROUSEL*/
  .carousel__global__wrapper i {
    display: block;
  }
  /*A PROPOS DU CHEF -----------------------------------------------------------*/
  /*section à propos du chef, parcours, biographie------------------------------*/
  .about__global__wrapper {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
  }
  .about__global__wrapper .chief__photo {
    grid-column: 1/2;
    grid-row: 1;
  }
  .about__global__wrapper .about__text__wrapper {
    grid-column: 2/4;
    grid-row: 1;
    justify-self: center;
  }
  #about__center__section {
    min-width: 100%;
  }
  #about__center__section .chief__photo {
    grid-column: 3/4;
    grid-row: 1;
  }
  #about__center__section .about__text__wrapper {
    grid-column: 1/3;
    grid-row: 1;
    justify-self: center;
  }
  /* section presse (article, vidéo)--------------------------------------------------*/
  .press__global__wrapper .press__article__global__wrapper .press__article__wrapper {
    display: flex;
    flex-direction: row;
  }
  .press__global__wrapper .press__article__global__wrapper .press__article__wrapper .press__article {
    min-width: 50%;
  }
  .press__global__wrapper .press__article__global__wrapper .press__article__wrapper .press__article__last__page__wrapper a {
    bottom: 22%;
    right: 1rem;
  }
  .press__global__wrapper .video .double__video__wrapper {
    flex-direction: row;
  }
  /*FORMULAIRES*/
  .large__form {
    width: 60%;
  }
}
@media screen and (min-width: 1500px) {
  html {
    font-size: 120%;
  }
}/*# sourceMappingURL=style.css.map */